@font-face {
  font-family: 'MyCustomFont';
  src: url('https://github.com/Attahscodes/Konkon/blob/main/ProductSans-BlackItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}