@font-face {
  font-family: 'Product Sans';
  src: url('https://github.com/Attahscodes/Konkon/raw/refs/heads/main/ProductSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}