@font-face {
  font-family: 'Product Sans';
  src: url('https://github.com/Attahscodes/Konkon/raw/refs/heads/main/ProductSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}