@font-face {
  font-family: 'Product Sans';
  src: url('https://github.com/Attahscodes/Konkon/raw/refs/heads/main/ProductSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
